<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <%- include('partials/head.ejs') %>
</head>
<body>
    <%- include('partials/navigation') %>

    <main class="vh-100 container pt-2 text-center d-flex justify-content-center">
        <section>
            <h1 class="display-1">
                About
            </h1>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                 <br> Aliquam similique fugit harum natus, eius, voluptas rerum incidunt sit eaque quis ex maiores culpa nihil explicabo hic accusamus quas mollitia assumenda. <br>
                  Eos culpa esse accusantium? Veniam repellat vitae corporis repudiandae cumque? <br> Animi, reprehenderit molestias voluptates aspernatur ex ipsam facere esse earum ratione tenetur eum quam ea dolore saepe dolores consectetur, aut, architecto eius consequatur magni laudantium corporis perspiciatis nisi ducimus! <br> 
                  Aperiam, culpa minus nobis pariatur iste nulla asperiores libero quos sint ea, velit eaque. <br> Ad perferendis ex laborum itaque, porro amet quisquam eius non accusantium quaerat similique accusamus ipsam totam? Temporibus?
            </p>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>
</html>